* {
  box-sizing: border-box;
}

/* gabriela-regular - latin_cyrillic */
@font-face {
  font-family: 'Gabriela';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/gabriela-v12-latin_cyrillic-regular.woff2') format('woff2'),
    url('../fonts/gabriela-v12-latin_cyrillic-regular.woff') format('woff');
}

:root {
  --white: #fff;
  --red: #ff0303;
  --green: #2cd770;
  --main-background: #272727;
  --dark-grey: #303030;
  --light-grey: #c2c2c2;
}

html {
  font-family: 'Gabriela', serif;
}

body {
  background-color: var(--main-background);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 30px 50px;
  max-width: 1440px;
}

.left-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-game-button {
  margin-bottom: 40px;
  padding: 9px 20px;
  border-radius: 7px;
  border: none;
  font-size: 36px;
  line-height: 46px;
  text-transform: uppercase;
  color: var(--dark-grey);
  background-color: var(--white);
  cursor: pointer;
  transition: color .3s ease-in, background-color .3s ease-in;
}

.start-game-button:hover {
  color: #000;
  background-color: #c2c2c2;
}

.hangman-paint-container {
  position: relative;
  margin-bottom: 30px;
  width: 450px;
  height: 700px;
  box-shadow: 0 0 5px 10px var(--dark-grey);
  background-color: var(--dark-grey);
}

.start-line {
  position: absolute;
  bottom: 50px;
  left: 50px;
  width: 125px;
  height: 3px;
  background-color: var(--white);
}

.mistakes {
  font-size: 30px;
  color: var(--white);
}

.mistakes-number {
  color: var(--red);
}
