* {
  box-sizing: border-box;
}

/* gabriela-regular - latin_cyrillic */
@font-face {
  font-family: 'Gabriela';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/gabriela-v12-latin_cyrillic-regular.woff2') format('woff2'),
    url('../fonts/gabriela-v12-latin_cyrillic-regular.woff') format('woff');
}

:root {
  --white: #fff;
  --red: #ff0303;
  --green: #2cd770;
  --main-background: #272727;
  --dark-grey: #303030;
  --light-grey: #c2c2c2;
}

html {
  font-family: 'Gabriela', serif;
}

body {
  background-color: var(--main-background);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  display: flex;
  margin: 0 auto;
  padding: 30px 50px;
  max-width: 1440px;
}

.left-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 170px;
}

.start-game-button {
  margin-bottom: 40px;
  padding: 9px 20px;
  border-radius: 7px;
  border: none;
  font-size: 36px;
  line-height: 46px;
  text-transform: uppercase;
  color: var(--dark-grey);
  background-color: var(--white);
  cursor: pointer;
  transition: color .3s ease-in, background-color .3s ease-in, opacity .5s ease-in, visibility .5s ease-in;
}

.start-game-button:hover {
  color: #000;
  background-color: #c2c2c2;
}

.hangman-paint-container {
  position: relative;
  margin-bottom: 30px;
  width: 450px;
  height: 700px;
  box-shadow: 0 0 5px 10px var(--dark-grey);
  background-color: var(--dark-grey);
  background-image: url('../img/hangman.svg');
  background-repeat: no-repeat;
  background-position: bottom 40px left 50px;
}

.hangman-paint-container.background-none {
  background-image: none;
}

.start-line {
  position: absolute;
  bottom: 40px;
  left: 50px;
  width: 125px;
  height: 3px;
  background-color: var(--white);
}

.mistakes {
  font-size: 30px;
  color: var(--white);
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s ease-in, visibility .5s ease-in;
}

.mistakes-number {
  color: var(--white);
}

.mistakes-number.red {
  color: var(--red);
}

.right-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answer-word {
  display: flex;
  margin-bottom: 80px;
  padding-top: 120px;
}

.letter-cell {
  margin-right: 15px;
  width: 50px;
  height: 50px;
  border-bottom: 2px solid var(--light-grey);
  font-size: 36px;
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
  opacity: 0;
  transition: opacity 1s ease-in;
}

.alphabet {
  display: flex;
  max-width: 400px;
  flex-wrap: wrap;
  justify-content: center;
}

.alphabet-element {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 60px;
  height: 60px;
  opacity: 0;
  transition: opacity 1s ease-in, border .2s ease-in;
}

.right-letter {
  border: 2px solid var(--green);
  border-radius: 50%;
}

.wrong-letter {
  position: relative;
}

.wrong-letter:before {
  content: " ";
  position: absolute;
  width: 75px;
  height: 3px;
  background-color: var(--red);
  transform: rotate(-130deg);
}

.alphabet-element:nth-child(5n) {
  margin-right: 0;
}

.alphabet-button {
  border: none;
  font-size: 55px;
  color: var(--white);
  background-color: transparent;
  cursor: pointer;
  transition: color .2s ease-in;
}

.alphabet-button:hover {
  color: var(--light-grey);
}

.visible {
  visibility: visible;
  opacity: 1;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
